<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload</title>
</head>
<body>
    <form action="/report/files/1" method="post" enctype="multipart/form-data">
        <input type="file" name='reportFile'> Report File
        <input type="hidden" name="report_id" value="1">
        <input type="submit">
    </form>

    <form action="/notice/files/1" method="post" enctype="multipart/form-data">
        <input type="file" name='notice_file'> Notice File
        <input type="hidden" name="notice_id" value="1">
        <input type="submit">
    </form>
</body>
</html>